/* Basic CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color:rgb(255, 127, 232);
  color: #efe8e8;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #4136c0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #347db9;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #332c3657;
}

.program,
.event {
  background-color: #d490db;
  padding: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: #a61414;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
